
<div class="background-cover">
  <div class="container-home mx-auto row justify-content-center">

    <div class="row justify-content-center">
      <div class="col text-center py-5">
        <h1>Timetracker</h1>

        <p> Happiness is not a feeling but a practice </p>
        <p>~Aristotle</p>

        <h2><%= link_to "Goals", goals_path %> </h2>
      </div>
    </div>
  </div>
</div>
