.navbar-lewagon {
  justify-content: center;
  background-color: #A3C3D3;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar a {
  text-decoration: none;
  color: #A3C3D3;
}

.navbar a:hover {
  color: black;
}
