<div class="container mx-auto justify-content-center">
  <div class="row mx-auto justify-content-center">
    <div class="col text-center py-5">
      <h1><%= @goal.name %></h1>
      <p><%= @goal.description %></p>
    </div>
    </div>
    <div class="col text-center">
      <%= link_to "Home", root_path %> |
      <%= link_to "Goals", goals_path %>
    </div>
</div>
